
.container{
    display: flex;
    /*flex-direction: row;*/
    /*flex-direction: column-reverse;*/
    /*flex-direction: calc();*/
    /*flex-direction: inherit;*/
    /*flex-direction: unset;*/
    /*justify-content: center;*/
    /*justify-content: space-around;*/
    /*justify-content: baseline;*/
    /*justify-content: stretch;*/
    /*justify-content: space-evenly;*/
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    column-gap: ;
}
.box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 8em;
    text-align: center;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: red;
}
#box4{
    background-color: brown;
}